@import url('https://fonts.cdnfonts.com/css/apercu-mono-pro');

*{
    scroll-behavior: smooth;
    padding:0;
    margin:0;
    /* border: 2px solid green; */
}
*, ::after, ::before {
    box-sizing: border-box;
}

:root{
    --main-color : #ff5107;
    --main-shadow-color:#FF8957;
    --background-color: white;
    --text-color: #0f0f0f;
    --border-color: black;
    --hover-color: gainsboro;
    --header-font: 'Apercu Mono Pro', sans-serif;
    --text-font: -apple-system, BlinkMacSystemFont;
}

html{
    width:100vw;
    font-family: var(--header-font);
}
body { 
    width: 100vw;
    min-height: 100vh;
    overflow-x:hidden;
}

nav{
    position:fixed;
    top:0;
    width: 100%;
    display: flex;    
    justify-content: start; 
    background: var(--background-color);
    min-height: 7%;
    z-index: 99;
}

section{
    display:block;
}

#navbar{
    transition:top 0.3s;
    left:0;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    width: Fixed (1,618px)px;
    height: Hug (72px)px;
    top: 0px;
    left: 0px;
    gap: 0px;
    align-items: center;
}

.logo{/* Group 6 */
    font-size: 16px;
    font-family: var(--header-font);
    color:white;
    text-align: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    order: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: var(--main-color);
    padding-top: 22px;
    padding-left: 5px;
}

#my-name{
    font-size: 32px; 
    text-align: left;
    white-space: nowrap;
    padding-top: 10px;
    padding-left: 20px;
}

#my-name a:hover{
    background-color: transparent;
    font-size: 36px;
}

.section-divider{
    padding-top: 50px;
    margin: 150px 0;
}


nav ul{
    padding-top: 10px;
    text-align: right;
    width:100%;    
}

li a{
    color: black;
    font-weight: 300;
    font-size: 14px;

}

#navbar a:hover{
    color: var(--hover-color);
}

nav li{
    font-family: var(--text-font);
    font-weight: 100;
    display: inline;
    margin: 0;
    padding-right: 30px;
    font-size: 16px;
    line-height:23.87px
}

.welcome-section{
    display:block flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height:100vh;
}

.welcome-greet{
    border-radius:200px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    text-align:left;
    align-items: center;
    gap:32px;
    padding: 72px 110px;
    width: 780px;
    height: 190px;
    margin: 180px 0 200px 0;
    filter: drop-shadow(0 0 0.75rem var(--main-shadow-color));
    /* border: 3px solid blue; */
}
.welcome-greet h1{
    position:relative;
    color: white;
    font-size: 24px;
    line-height: 48px;
    font-weight: 500;
    font-family: 'Apercu Mono Pro', sans-serif;
}

.ppic .rounded{
    height: 112px;
    width: 110px;
}


img.rounded {
    object-fit: cover;
    border-radius: 50%;
    
}


.arrows{
    margin:0 auto;
    width: 50.93px;
    height: 27px;
    gap: 0px;
    border: 6.4px 0px 0px 0px;
    opacity: 0px;
    animation: Bop 1s ease-in-out infinite;
    padding-bottom: 160px;

}

#about-me{
    display:block;
}

.text-img{
    margin: 30px auto;
    display:flex;
    align-items: center;
    justify-content: center;
}



.sub-img{
    margin-right: 90px;
    object-fit: cover;
    display: block;
    height:224px !important;
    width:240px !important;
    border-radius:20px;
    animation: fadeRight 1s linear;
}
.textbox{
    width: 620px;
    height:172px;
    font-family: var(--text-font);
    gap: 48px;
    margin-bottom: 65px;
}

section p{
    font-size: 20px;
    margin: 24px 0;
}
#projects_scroll{
    padding-top: 50px;
}

#projects{
    margin-top: 100px;
    display: block;
}

#projects h1{
    text-align: center;
    margin-bottom: 80px;
}

.project-tiles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 90px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.project-tile{
    width: 450px;
    height: 412.4px;
    gap: 0px;
    border-radius: 20px;
    object-fit: cover;
    z-index:1;
    display:flex;
    flex-direction: column;
    background-color: var(--main-color);
    border: 2px solid black;
    margin-bottom: 90px;

}
.tile-head{
    width:100%;
<<<<<<< HEAD
    height: 240px;
=======
    height: 247px;
    margin-bottom: 14px;
>>>>>>> refs/remotes/origin/main
}

.tile-foot{
    display: flex;
    /* border: 2px solid green; */
<<<<<<< HEAD
    width: 4rem;
    align-items: center;
    flex-direction: column;
    margin-left: 390px;
    margin-bottom: 2000px;
=======
    width: 2rem;
    align-items: center;
    flex-direction: column;
    margin-left: 390px;
    margin-top: -50px;
    font-size: 10px;
>>>>>>> refs/remotes/origin/main
}

.tile-repo{
    /* margin-top:  */
    height: 12px;
    font-size: 12px;
}
.tile-foot .fa{
    margin:0;
    font-size: 2rem;
}

.tile-img{
    object-fit: cover;
    width:100%;
<<<<<<< HEAD
    height:220px;
=======
    height:245px;
>>>>>>> refs/remotes/origin/main
    /* height: 80%; */
    border-radius: 20px 20px 0 0;
    left:0;
}

.tile-body{
    width: 100%;
<<<<<<< HEAD
    height: 133.2px;
    border-radius: 0 0 20px 20px;
    z-index: 3;
    /* border: 2px solid green; */
=======
    height: 140px;
    border-radius: 0 0 5px 5px;
}
>>>>>>> refs/remotes/origin/main

}

.tile-body h2{
    font-size: 22px;
    text-align: center;
}
/* A flash game from the past by the name of Frogger. Made on Assembly. + Text about the project and software I used highlighted.
                            And a Link to the repository on github. */

.project-description{
    font-size:18px;
<<<<<<< HEAD
    padding:8px 36px;
    margin: 0 auto;
=======
    margin: 0 auto;
    padding: 2%;
>>>>>>> refs/remotes/origin/main
    text-align: left;
}
#imp-word{
    color: white;
}

<<<<<<< HEAD
.repo-link{
    right:10px;
    bottom:0;
    position:absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:15%;
    height:15%;
}
.repo-link .fa{
    font-size:32px;
    margin-bottom: 3px;
    color:black;
}
.repo p{
    color:black;
    margin-top:-6px;
}

.repo-link a:hover{
    color: var(--hover-color);
}
.repo-link p:hover{
    color: var(--hover-color);
}

#contact_me_scroll{
    transform: translateY(600%);
    width: 100%;
    height: 20px;
    position:absolute;
    transform-origin: bottom left;
=======
#imp-word{
    color: white;
}

.tile-foot p{
    padding-left: 10px;
    color:white;
    font-size: 15px;

>>>>>>> refs/remotes/origin/main
}

.contacts{
    overflow-y:hidden;
    width:100%;
    height: 130vh;
    margin-top:auto;
    background-color: #191919;
    color:white;
    font-family: var(--text-font);
    text-align:left !important;
}


.head-words{
    width:100%;
    color:white;
}

.contacts h1{
    text-align: left !important;
    color:white;
    font-weight: 100ƒ;
    font-size: 40px !important;

}
.head-words h1{
    color: var(--warning-contrast, #FFF);
    font-family: "Apercu Mono Pro";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top:-180px;
}

.head-words p{
    margin:10px 0;
    width:100%;

}
.firstRow p{
    margin-top:20px;
    color: var(--warning-contrast, #FFF);
    font-family: "SF Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-methods{
    display:flex;
    justify-self: center;
    width:100%;
    height: 75vh;
    padding-top:15px;
    border: 2px solid black;
    border-bottom: transparent;
}

.email-form{
    padding-left: 100px;
}

.emails{
    padding-top:160px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:120vh;
    width: 50%;
    flex-direction: column;
}


.emails button{
    display: flex;
    padding: 9.521px 23.803px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:60px;
    border-radius: 50px;
    background-color: var(--main-color);
}

button p{
    color: var(--warning-contrast, #FFF);
    font-family: 'Roboto';
    font-size: 30.943px;
    font-style: normal;
    font-weight: 500;
    line-height: 52.366px; /* 169.231% */
    letter-spacing: 1.095px;
    text-transform: capitalize;
}

textarea, input{
    padding-left: 10px;
    color:white;
    display: block;
    border-radius: 5px;
    font-size: 24px;
    width:100%;
}

textarea{
    border-radius: 12px;
    border: 1px solid #D9D9D9;
    background: rgba(217, 217, 217, 0.04);
    height: 120px;
    margin: 52px 0;
    padding-top: 10px;
}

input{
    margin-top:0px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid #D9D9D9;
    background: rgba(217, 217, 217, 0.04);
}
.other{
    padding-top:160px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:120vh;
    width: 50%;
}
.socials{
    width:390px;
    height:226px;
    display: inline;
    padding: 55px 45px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: var(--main-color);
    font-family: var(--text-font);
    font-style: normal;
    font-weight: 510;
    line-height: normal;
    border-radius: 32px;
}

.socials p{
    margin:auto;
    color: var(--warning-contrast, #FFF);
    font-family: "SF Pro";
    font-size: 26px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
}

.logos{
    width: 100%;
    padding-left:14px;
    height: 50px;
    margin:45px auto;
}

.socials-logo {
    margin: 12px;
    font-size: 32px ;
    width: 20px;
    height:20px;
    /* background: black !important; */
    color:white !important;
}

a{
    font-weight: bold;
    text-decoration: none;
    color:black; 
}

#navbar a:hover{
    color: var(--hover-color);
}
.socials-logo a:hover{
    color: rgb(62, 58, 58);
}
a:visited{
    color: var(--text-color);
}

.emphasis{
    color: var(--main-color)
}



h1{
    font-size: 42px;
    font-weight: 400 ;
    line-height: 56px ;
    text-align: center ;
    font-family: var(--header-font);
}



footer{
    display:flex;
    justify-content: center;
    width:100%;
    background-color: var(--main-color);
    color:black;
    border: 2px solid black;
    align-items:center;    
    font-size: 20px;
    height:60px;
}
